[b|B]in
[O|o]bj
Common.Classes.RearCop/RearCop.Common.Classes/obj/Debug/netcoreapp3.1/RearCop.Common.Classes.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csprojAssemblyReference.cache
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.assets.cache
Gateway.RearCop/Gateway.RearCop/obj/Debug/netcoreapp3.1/Gateway.RearCop.assets.cache
Gateway.RearCop/Gateway.RearCop/obj/Debug/netcoreapp3.1/Gateway.RearCop.csprojAssemblyReference.cache
Register.RearCop/Register.RearCop/obj/Debug/netcoreapp3.1/Register.RearCop.assets.cache
Register.RearCop/Register.RearCop/obj/Debug/netcoreapp3.1/Register.RearCop.csprojAssemblyReference.cache
Service.RearCop/Service.RearCop/obj/Debug/netcoreapp3.1/Service.RearCop.assets.cache
Service.RearCop/Service.RearCop/obj/Debug/netcoreapp3.1/Service.RearCop.csprojAssemblyReference.cache
Device.RearCop/Device.RearCop/bin/Debug/netcoreapp3.1/publish/Device.RearCop.deps.json
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csproj.FileListAbsolute.txt
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csprojAssemblyReference.cache
Device.RearCop/Device.RearCop/publish/appsettings.Development.json
Device.RearCop/Device.RearCop/publish/appsettings.json
Device.RearCop/Device.RearCop/publish/Device.RearCop.deps.json
Device.RearCop/Device.RearCop/publish/Device.RearCop.dll
Device.RearCop/Device.RearCop/publish/Device.RearCop.exe
Device.RearCop/Device.RearCop/publish/Device.RearCop.pdb
Device.RearCop/Device.RearCop/publish/Device.RearCop.runtimeconfig.json
Device.RearCop/Device.RearCop/publish/DotNetty.Buffers.dll
Device.RearCop/Device.RearCop/publish/DotNetty.Codecs.dll
Device.RearCop/Device.RearCop/publish/DotNetty.Codecs.Mqtt.dll
Device.RearCop/Device.RearCop/publish/DotNetty.Common.dll
Device.RearCop/Device.RearCop/publish/DotNetty.Handlers.dll
Device.RearCop/Device.RearCop/publish/DotNetty.Transport.dll
Device.RearCop/Device.RearCop/publish/Microsoft.AspNetCore.Authorization.dll
Device.RearCop/Device.RearCop/publish/Microsoft.AspNetCore.Components.dll
Device.RearCop/Device.RearCop/publish/Microsoft.AspNetCore.JsonPatch.dll
Device.RearCop/Device.RearCop/publish/Microsoft.AspNetCore.Metadata.dll
Device.RearCop/Device.RearCop/publish/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
Device.RearCop/Device.RearCop/publish/Microsoft.AspNetCore.Razor.Language.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Azure.Amqp.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Azure.Devices.Client.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Azure.Devices.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Azure.Devices.Provisioning.Client.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Azure.Devices.Provisioning.Service.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Azure.Devices.Shared.dll
Device.RearCop/Device.RearCop/publish/Microsoft.CodeAnalysis.CSharp.dll
Device.RearCop/Device.RearCop/publish/Microsoft.CodeAnalysis.dll
Device.RearCop/Device.RearCop/publish/Microsoft.CodeAnalysis.Razor.dll
Device.RearCop/Device.RearCop/publish/Microsoft.DotNet.PlatformAbstractions.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Configuration.Abstractions.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Configuration.Binder.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Configuration.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.DependencyInjection.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.DependencyModel.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Http.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Logging.Abstractions.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Logging.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Options.dll
Device.RearCop/Device.RearCop/publish/Microsoft.Extensions.Primitives.dll
Device.RearCop/Device.RearCop/publish/Microsoft.JSInterop.dll
Device.RearCop/Device.RearCop/publish/Microsoft.WindowsAzure.Storage.dll
Device.RearCop/Device.RearCop/publish/Newtonsoft.Json.Bson.dll
Device.RearCop/Device.RearCop/publish/Newtonsoft.Json.dll
Device.RearCop/Device.RearCop/publish/RearCop.Common.Classes.dll
Device.RearCop/Device.RearCop/publish/RearCop.Common.Classes.pdb
Device.RearCop/Device.RearCop/publish/System.Configuration.ConfigurationManager.dll
Device.RearCop/Device.RearCop/publish/System.Security.Cryptography.Pkcs.dll
Device.RearCop/Device.RearCop/publish/System.Security.Cryptography.ProtectedData.dll
Device.RearCop/Device.RearCop/publish/web.config
Device.RearCop/Device.RearCop/publish/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
Device.RearCop/Device.RearCop/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Common.Classes.RearCop/RearCop.Common.Classes/obj/Debug/netcoreapp3.1/RearCop.Common.Classes.assets.cache
Device.RearCop/Device.RearCop/bin/Debug/netcoreapp3.1/publish/Device.RearCop.deps.json
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csproj.FileListAbsolute.txt
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csprojAssemblyReference.cache
Common.Classes.RearCop/RearCop.Common.Classes/obj/Debug/netcoreapp3.1/RearCop.Common.Classes.assets.cache
Device.RearCop/Device.RearCop/bin/Debug/netcoreapp3.1/publish/Device.RearCop.deps.json
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csproj.FileListAbsolute.txt
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csprojAssemblyReference.cache
Common.Classes.RearCop/RearCop.Common.Classes/obj/Debug/netcoreapp3.1/RearCop.Common.Classes.assets.cache
Device.RearCop/Device.RearCop/bin/Debug/netcoreapp3.1/publish/Device.RearCop.deps.json
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csproj.FileListAbsolute.txt
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csprojAssemblyReference.cache
Fetch.RearCop/Fetch.RearCop/bin/Debug/netcoreapp3.1/Fetch.RearCop.dll
Fetch.RearCop/Fetch.RearCop/bin/Debug/netcoreapp3.1/Fetch.RearCop.pdb
Fetch.RearCop/Fetch.RearCop/bin/Debug/netcoreapp3.1/publish/Fetch.RearCop.deps.json
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.assets.cache
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.csproj.FileListAbsolute.txt
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.csprojAssemblyReference.cache
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.dll
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.pdb
Common.Classes.RearCop/RearCop.Common.Classes/obj/Debug/netcoreapp3.1/RearCop.Common.Classes.assets.cache
Device.RearCop/Device.RearCop/bin/Debug/netcoreapp3.1/publish/Device.RearCop.deps.json
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.assets.cache
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csproj.FileListAbsolute.txt
Device.RearCop/Device.RearCop/obj/Debug/netcoreapp3.1/Device.RearCop.csprojAssemblyReference.cache
Fetch.RearCop/Fetch.RearCop/bin/Debug/netcoreapp3.1/Fetch.RearCop.dll
Fetch.RearCop/Fetch.RearCop/bin/Debug/netcoreapp3.1/Fetch.RearCop.pdb
Fetch.RearCop/Fetch.RearCop/bin/Debug/netcoreapp3.1/publish/Fetch.RearCop.deps.json
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.assets.cache
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.csproj.FileListAbsolute.txt
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.csprojAssemblyReference.cache
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.dll
Fetch.RearCop/Fetch.RearCop/obj/Debug/netcoreapp3.1/Fetch.RearCop.pdb
